.users {
  background-color: rgb(230, 168, 44);
  box-shadow: 0px 0px 10px rgb(156, 156, 156);
  border-radius: 10px;
  padding: 2rem;
  width: 400px;
  margin: auto;
}
.users {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
}
.users ul {
  list-style: none;
  padding: 1rem;
}
.users li {
  border: 1px solid black;
  margin: 0.5rem 0;
  padding: 0.5rem;
  list-style: none;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .users {
    width: 100%;
    max-width: unset;
  }
}
